{% extends "main.html" %}
{% block title %} Login {% endblock %}
{% block content %}

{% include 'welcomemenu.html' %}

<section class="ui raised segment">
   <div class="ui grid">
     <aside class="ui six wide column">
       <img src="{{ url_for('static', filename='homer2.png') }}" class="ui medium image">
     </aside>
     <div class="ui ten wide column fluid form">
       <div class="ui stacked segment">
         <form action="/login" method="POST">
           {{ form.hidden_tag() }}
           <h3 class="ui header">Log-in</h3>
           <div class="field">
             {{ form.email.label }}
             {{ form.email (size=20) }}
           </div>
           <div class="field">
             {{ form.password.label }}
             {{ form.password (size=20, type="password") }}
           </div>
           <button class="ui blue submit button">Login</button>
         </form>
       </div>
     </div>
   </div>
</section>

{% endblock %}
