{% extends "main.html" %}
{% block title %} Signup {% endblock %}
{% block content %}

{% include 'welcomemenu.html' %}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
          <form action="/signup" method="POST">
            {{ form.hidden_tag() }}
            <h3 class="ui header">Register</h3>
            <div class="two fields">
              <div class="field">
               {{ form.firstname.label }}
               {{ form.firstname (size=20) }}
              </div>
              <div class="field">
               {{ form.lastname.label }}
               {{ form.lastname (size=20) }}
              </div>
            </div>
            <div class="field">
               {{ form.email.label }}
               {{ form.email (size=20) }}
            </div>
            <div class="field">
               {{ form.password.label }}
               {{ form.password (size=20) }}
            </div>
            <button class="ui blue submit button">Submit</button>
          </form>
        </div>
      </div>
      <aside class="ui five wide column">
       <img src="{{ url_for('static', filename='homer3.png') }}" class="ui medium image">
      </aside>
    </div>
</section>

{% endblock %}